*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid orange;*/
}

body {
  font-family: 'Nunito', sans-serif;
  transition: 0.3s background-color ease-in;
  color: #1E1E1E;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.titulo-principal {
  font-size: 56px;
}

/* Encabezado */

.header {
  min-height: 100vh;
  background-image: linear-gradient(153deg, rgba(98,41,56,1) 30%, rgba(51,44,68,1) 70%);
  color: #FFFFFF;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .header__img-hacker {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header .header__info {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__lista {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header__item {
  background-color: #FFFFFF;
  color: #1E1E1E;
  padding: 10px 20px;
  font-size: 12px;
}

.seccion1 {
  padding: 64px 32px;
}

.seccion1 .seccion1__contenedor {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 200px 200px;
  gap: 20px;
}

.seccion1 .seccion1__titulo {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 32px;
}

.seccion1 .card {
  background-color: #EAEAEA;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;

  position: relative;
  overflow: hidden;
}

.seccion1 .card__icon {
  font-size: 50px;
  color: #622938;
}

.seccion1 .card__name {
  font-weight: 700;
  background-color: #622938;
  color: #FFFFFF;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion1 .card:hover .card__name {
  opacity: 1;
  transition: all 1s;
}

.seccion2 {
  padding: 64px 32px;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.seccion2__titulo--lg {
  display: block;
}

.seccion2__titulo--sm {
  display: none;
}

.seccion2 .seccion2__banner {
  justify-self: center;
  align-self: center;
}

.seccion2 .seccion2__img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.seccion2 .seccion2__contenido {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  gap: 20px;
}

.proyecto {
  /* height: 200px; */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #622938;
}

.proyecto__enlances {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #622938;
  width: 100%;

  display: flex;
  text-align: center;
}

.proyecto__enlace {
  width: 50%;
  padding: 10px 0;
  
}

.proyecto__enlace:first-child {
  border-right: 2px solid #1E1E1E;
}

.proyecto__img {
  width: 100%;
  height: 100%;
}

.seccion3 {
  padding: 64px 32px;
}

.seccion3 .seccion3__titulo {
  font-size: 32px;
  margin-bottom: 20px;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.curso {
  position: relative;
  border: 1px solid #622938;
  border-radius: 4px;
  padding: 10px;
  min-width: 300px;
}

.curso__parrafo {
  font-size: 12px;
}

.curso__estado {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #622938;
  font-size: 12px;
}

.footer {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenidos {
  display: flex;
  gap: 10px;
}

.contenidos a {
  display: inline-block;
  color: #622938;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .proyectos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 568px) {

  .titulo-principal {
    font-size: 40px;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "info"
      "hacker";
  }

  .header .header__info {
    grid-area: info;
  }

  .header .header__hacker {
    grid-area: hacker;
  }

  .seccion1 {
    padding: 32px;
  }

  .seccion1 .seccion1__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 100px 100px;
  }

  .seccion2__titulo--sm {
    display: block;
  }

  .seccion2__titulo--lg {
    display: none;
  }

  .seccion2 .seccion2__contenido {
    grid-template-columns: 1fr;
  }

  .proyectos {
    grid-template-columns: 1fr;
  }

  .seccion2 .seccion2__img {
    display: none;
  }

  .curso {
    width: 100%;
    min-width: auto;
  }
}

