*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-primary: #121212;
  --background-secondary: #612938;
  --font-body: 'Quicksand', sans-serif;
  --font-title: 'Sniglet', cursive;
  --text-light: #ededed;
  --text-dark: #000;
  --text-primary: #f15a24;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-primary);
  color: var(--text-light);
  font-family: var(--font-body);
  font-size: 1.6rem;
}

ul, li {
  list-style: none;
  padding: 0;
}

img, video, iframe {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.projects__icons .fa-html5 {
  color: #f15a24;
}

.projects__icons .fa-css3-alt {
  color: #007ACC;
}

.projects__icons .fa-js {
  color: #F8E322;
}

.projects__icons .fa-react {
  color: #69DBF9;
}

.projects__icons .fa-node {
  color: #106E13;
}

.contenedor {
  max-width: 1200px;
  width: 100%;
  
}

/* header */

.header {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(97,41,56,1) 0%, rgba(18, 18, 18, 0.004) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header__figure,
.header__info {
  width: 50%;
}

.header__figure {
  text-align: center;
  position: relative;
}

.header__img {
  width: 500px;
}

.header__title {
  color: var(--text-light);
  padding: 2rem 0;
  font-size: 5rem;
  font-family: var(--font-title);
}

.header__title span {
  color: var(--text-primary);
}

.header__info p {
  line-height: 1.5;
}

.header__icon {
  --scale: 0.8;
  --top: 2rem;
  --left: 8rem;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  color: var(--background-secondary);
  transform: scale(var(--scale));
  font-size: 2rem;
}



/* skills */

.skills {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 500px;
  background-image: url('../img/shape-gradient-2.png'), url('../img/github.webp');
  background-repeat: no-repeat;
  background-position: bottom -3rem left -3rem, bottom 3rem right;
  background-size: auto 110%, 300px auto;

}

.skills__title {
  font-family: var(--font-title);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 100px 100px;
  gap: 1.6rem;
}

.skills__list li {
  background-color: var(--text-light);
  color: var(--background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-radius: 0.5rem;
}

/* projects */

.projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.projects__title {
  font-family: var(--font-title);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.projects__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects__item {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__content a {
  text-decoration: underline;
}

.projects__content span {
  height: 100%;
  flex: 1;
  flex-basis: 4rem;
  display: inline-block;
}

.projects__links {
  display: flex;
  justify-content: space-between;
}

/* content */

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(97,41,56,1) 0%, rgba(18, 18, 18, 0.004) 70%);
}

.content__row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.content__info,
.content__cafecito {
  width: 50%;
}

.content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.content__title {
  font-family: var(--font-title);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.content__title::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 3px;
  width: 100%;
  max-width: 300px;
  background-color: var(--text-light);
}

.content__lista {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.content__lista a {
  text-decoration: underline;
}

.content__cafecito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.content__emoji {
  font-size: 100px;
}

.content__link {
  background-color: var(--text-light);
  color: var(--text-dark);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: center;
}

/* footer */

.footer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  background-image: url('../img/shape-gradient-1.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 0;
}

.footer__info {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__title {
  font-size: 60px;
  color: var(--background-secondary);
}

.footer__link {
  background-color: var(--background-secondary);
  color: var(--text-light);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}

/* media querys */

@media (max-width: 768px) {
  .contenedor {
    padding: 2rem;
  }

  .header__row {
    flex-direction: column;
  }

  .header__figure,
  .header__info {
    width: 100%;
    text-align: center;
  }

  .skills__info {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-image: url(../img/shape-gradient-2.png);
    background-repeat: no-repeat;
    background-position: bottom 3rem left 3rem;
    background-size: 80% auto;
    background-clip: padding-box;
    background-origin: padding-box;
  }

  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 100px);
  }

  .projects__items {
    justify-content: center;
  }

  .content__row {
    flex-direction: column;
    gap: 2rem;
  }

  .content__info,
  .content__cafecito {
    width: 100%;
  }

  .footer {
    background-size: 250px;
  }

  .footer__title {
    text-align: center;
  }

  .projects__items{
    justify-content: flex-start;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .projects__item {
    flex-shrink: 0;
  }

  .header__icon {
    transform: scale(var(--scale));
    top: var(--top);
    left: var(--left);
  }

  .header__icon--1 {
    left: 2rem;
  }

  .header__icon--2 {
    left: 18rem;
    top: 0.5rem;
  }

  .header__icon--3 {
    left: 22rem;
  }

}