$colorPrimario: #BD5D39;
$colorPrimarioOscuro: #702E16;
$colorSecundario: #39BDA2;
$colorSecundarioOscuro: #0B705C;

$colorNegro: #222222;
$colorSeparador: #CCCCCC;

$H6: 24;
$H5: 32;
$H4: 40;
$H3: 48;
$H2: 56;
$H1: 64;

$tipoFuente: 'Nunito';

$fontSizeIconos: 32;