@import 'variables';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px orange solid;
    scroll-behavior: smooth;
}

body {
    font-family: $tipoFuente, 'Arial';
}

.fixed {
    position: fixed;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    bottom: 16px;
    right: 16px;
}

.header {
    
    
    background: linear-gradient(to right, $colorPrimario, $colorSecundario);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;

    &__contenedor {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    &__info {
        display: flex;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    &__icono {

        padding: 1rem;
        font-size: $H4 + px;
        color: #fff;
        border-bottom: 3px $colorSeparador solid;
        
    }

    &__titulo {
        font-size: $H3 + px;
        font-weight: 700;
        color: #fff;
        width: 100%;
        text-align: center;
        align-self: center;
        
        
    }

    &__subtitulo {
        padding: 1rem 0;
    }

    &__parrafo {
        
        font-weight: 400;
        color: $colorNegro;
        margin: 0 1rem 1rem;
        padding: 1rem;
        position: relative;

        border: 1px solid $colorSeparador;
        background-color: #fafafa;
        border-radius: 10px;
        
        animation: float 6s ease-in-out infinite;
        
        @keyframes float {
            0% {
                transform: translateY(-5px);
            }
            50% {
                transform: translateY(0px);
                
                
            }
            100% {
                transform: translateY(-5px);
            }
        }

        & span {
            
            font-size: 1.4rem;
            font-weight: 900;
            text-align: left;
            text-transform: uppercase;

            & > span {
                color: $colorPrimario;
                font-weight: 900;
            }
        }

    }

    @media screen and (min-width:578px){
        &__subtitulo {
            display: flex;
            flex-flow: row nowrap;

        }

        &__parrafo {
            width: 50%;
            flex: 0 1 auto;
            font-size: 1.25rem;
        }
    }
}

.skills {

    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    
    &__titulo {
        font-size: $H5 + px;
        font-weight: 700;
        text-align: center;
        color: $colorPrimario;

        margin-bottom: 1rem;
    }

    &__contenedor {

        min-height: 200px;       
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        
    }

    &__item {

        margin: 10px 0.5rem;
        font-size: 56px;
        flex: 1 1 20%;
        color: $colorNegro;
        text-align: center;
        position: relative;
        

        &:hover {
            color: $colorSecundario;
        }


    }
}

.portafolio {
    display: none;
    &__titulo {
        font-size: $H5 + px;
        font-weight: 700;
        text-align: center;
        color: $colorPrimario;
        margin-bottom: 1rem;
    }
}

.etiqueta {

    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.1);

    margin-bottom: 1rem;

    &__titulo {
        font-size: $H6 + px;
        font-weight: 700;
        text-align: center;
        color: $colorSecundario;

        
    }
}

.cursos {

    width: 90vw;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-bottom: 2rem;

    &__titulo {
        font-size: $H5 + px;
        font-weight: 700;
        text-align: center;
        color: $colorPrimario;
        margin-bottom: 1rem;
    }

    &__contenedor {
        list-style-type: none;
        margin-bottom: 1rem;
    }

    @media screen and (min-width:768px) {
        &__contenedor {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        
    }

    @media screen and (max-width:1023px){
        &__item {
            flex: 0 1 300px;
        }
    }

    @media screen and (min-width:1024px){
        &__item {
            flex: 0 1 400px;
        }
    }

    &__item {
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 1px #cccccc solid;
        padding: 1rem;


        & a:nth-of-type(1) {
            display: flex;
            text-decoration: none;
            color: $colorNegro;
            align-items: center;
            margin-bottom: 1rem;
        }

        & a:nth-of-type(2) {

            background-color: $colorNegro;
            display: block;
            width: 50%;
            border-radius: 4px;

            text-align: center;
            font-size: 1rem;
            color: #fff;

            margin-left: auto;
            
        }
        
        & .fa-trophy {

            font-size: 32px;
            color: orange;
            margin-right: 1rem;
        }
    }
}



.footer {

    background-color: rgba(196, 196, 196, 0.3);

    &__contenedor {
        padding: 3rem 1rem 0;
    }

    @media screen and (min-width:578px) {
        &__contenedor {
            display: flex;
            justify-content: space-between;
            padding-bottom: 3rem;
            width: 90vw;
            margin: 0 auto;
        }
    }

    &__titulo {
        font-size: $H6;
        margin-bottom: 1rem;
        color: $colorSecundario;
    }

    & hr {
        margin-top: -14px;
        margin-bottom: 1rem;
        position: relative;
        width: 30%;
        border-width: 2px;
        border-style: solid;
        border-color: $colorSeparador;
    }

    & .contactame, & .sigueme, & .adicional {
        list-style-type: none;
        margin-bottom: 1rem;
    }

    & .contactame {
        
        &__item {
            margin-bottom: 1rem;
        }

        &__link {
            text-decoration: none;
            font-weight: 300;
            color: $colorNegro;
        }
    }

    & .sigueme {
        
        display: flex;

        &__item {
            margin-right: 1rem;
            font-size: $fontSizeIconos + px;
            color: $colorNegro;
        }
        
        &__link {
            text-decoration: none;
            font-weight: 300;
            color: $colorNegro;
        }
    }

    & .adicional {
        
        display: flex;

        &__item {
            margin-right: 1rem;
            font-size: $fontSizeIconos + px;
            color: $colorNegro;
        }
        
        &__link {
            text-decoration: none;
            font-weight: 300;
            color: $colorNegro;
        }
    }

    &__copy > h4{
        background-color: $colorNegro;
        color: #ffffff;
        padding: 1rem;
        text-align: center;
        font-weight: 300;
        & {
            font-size: 1rem;
        }
    }
}

